<html>
<head>
    <link rel="stylesheets" href="public/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="utf-8">
    <title>Andy's Blog Portfolio</title>   
</head>
<div class="container">
    <div class="header clearfix">
        <nav>
            <!-- NAV BAR  -->
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sign Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/homeStream">Home Stream</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Upload Image</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container">

            <h1><%= article.hashtag %></h1>
